---
import Footer from "../components/Footer";
import "../styles/global.css";

export interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Metro MTL",
  description = "Montreal Metro Station Information",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="font-sans antialiased dark:bg-stm-black dark:text-white">
    <slot />
    <Footer />
  </body>
</html>
